<div id='sidebar-wrapper'>
    <!--<img src='//lh3.googleusercontent.com/-m-ps-HTMaPA/VXvWJgrgwWI/AAAAAAAAAcw/ytjryWMzUGs/s254/AvianLogoBluesml.jpg'/><br/> -->
    <!-- sidebar -->
    <ul class='sidebar-nav'>
    <li class='sidebar-brand'><a href='/'><img src='//lh3.googleusercontent.com/-VVq1Y-FFG9g/VX27FPwKmhI/AAAAAAAAAeE/N0Kv79ld2ZA/s160/shamskranjiblue.png'/></a>
    </li>
    <li><a href="{{ site.url }}">home</a></li>
    {% for nav in site.data.main-nav %}
       <li><a href="{{ site.url }}{{ nav.link }}">{{ nav.name }}</a></li>
       {% if nav.link == '/everything-yoga/' and page.url contains '/everything-yoga/' %}
        {% if nav.submenu != null %}
        <ul class="sub-menu">
            {% for item in nav.submenu %}
            <li><a href="{{ site.url }}{{ item.sublink }}">{{ item.subname }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
       {% endif %}
       {% if nav.link == '/teacher-training/' and page.url contains '/teacher-training/'%}
       {% if nav.submenu != null %}
       <ul class="sub-menu">
           {% for item in nav.submenu %}
           <li><a href="{{ site.url }}{{ item.sublink }}">{{ item.subname }}</a></li>
           {% endfor %}
       </ul>
       {% endif %}
      {% endif %}
    {% endfor %}
    <li><a href="https://www.facebook.com/Shamayoga9/"><img src="https://lh3.googleusercontent.com/-M7v0Yd8tD42GHMSCMmaq_1tYuigGv87QV2WRz5nEUt9DnfUa29CtjhsfFGpE6Y8CvFoLkIKp31eqSyILzen8_GyttxT1z3w=s120"></a></li>
    </ul>
    </div>